extends layout

block content
  -var doc=registro||{};
  H3 Registro Nuevo Conductor
  form(action="/conductor/add" method="POST")
    input(type="hidden" class="form-control" id="_id" name="_id" placeholder="id" value=doc._id||"")
    div(class="form-row")
      div(class="form-group col-md-4")
        label(for="nombre") Nombre
        input(type="text" class="form-control" id="nombre" name="nombre" value=doc.nombre||"" placeholder="Nombre")
      div(class="form-group col-md-4")
        label(for="apellido") Apellido
        input(type="text" class="form-control" id="apellido" name="apellido" value=doc.apellido||"" placeholder="Apellido")
      div(class="form-group col-md-4")
        label(for="telefono") Telefono
        input(type="text" class="form-control" id="telefono" name="telefono" value=doc.telefono||"" placeholder="Telefono")
      div(class="form-group col-md-4")
        label(for="genero") Genero
        select(id="genero" name="genero" class="form-control" value=doc.genero||"")
          option(value="0") Masculino
          option(value="1") Femenino
      div(class="form-group-row col-md-4")
        label(for="direccion") Direccion
          input(type="text" class="form-control" id="direccion" name="direccion" value=doc.direccion||"" placeholder="Direccion")
    div(class="form-row")
      div(class="form-group col-md-4")
        label(for="ci") Cedula de Identidad
        input(type="text" class="form-control" id="ci" name="ci" placeholder="Cedula Identidad" value=doc.ci||"")
      div(class="form-group col-md-4")
        label(for="estado") Estado
        select(id="estado" name="estado" class="form-control" value=doc.estado||"")
          option(value="0") Activo
          option(value="1") Inactivo
    button(type="submit" value="guardar" class="btn btn-success") guardar